<article>
  <h1>Hysbysiad preifatrwydd</h1>
  <p>
    Mae’r hysbysiad preifatrwydd hwn yn egluro beth rydym yn ei wneud gyda’r wybodaeth a gawn oddi wrthych pan fyddwch yn defnyddio’n gwasanaeth.
  </p>
  <h2>Cwcis</h2>
  <p>
    Ffeiliau bach sy’n cael eu harbed ar eich ffôn, llechen neu gyfrifiadur pan fyddwch yn ymweld â gwefan yw cwcis. Rydym yn defnyddio cwcis i wneud i’r wefan weithio ac i ddeall sut rydych yn defnyddio’n gwasanaeth, er enghraifft y tudalennau rydych yn ymweld â nhw.
  </p>
  <h3>Cwcis hanfodol</h3>
  <p>
    Mae cwcis hanfodol yn cadw’ch gwybodaeth yn ddiogel wrth ichi ddefnyddio’r gwasanaeth hwn. Nid oes angen eich caniatâd arnom i’w defnyddio.
  </p>
  <ul class="list list-bullet">
    <li>Dynodydd sesiwn unigryw</li>
  </ul>
  <h3>Cwcis dadansoddol (dewisol)</h3>
  <p>
    Gyda’ch caniatâd, rydym yn defnyddio Google Analytics i gasglu data am sut rydych yn defnyddio’r gwasanaeth. Rydym yn defnyddio’r wybodaeth hon i’n helpu i wella’r gwasanaeth ar sail anghenion defnyddwyr.
  </p>
  <p>
    Ni chaniateir i Google ddefnyddio neu rannu ein data dadansoddol gydag unrhyw un.
  </p>
  <p>
    Mae Google Analytics yn gosod cwcis sy’n storio gwybodaeth ddienw am y canlynol:
  </p>
  <ul class="list list-bullet">
    <li>y tudalennau rydych yn ymweld â nhw</li>
    <li>pa mor hir rydych yn ei dreulio ar bob tudalen</li>
    <li>sut y cyrhaeddwyd y gwasanaeth</li>
    <li>ar beth rydych yn clicio wrth ymweld â’r gwasanaeth</li>
  </ul>
  <h3>Cwcis sy’n cofio’ch gosodiadau</h3>
  <p>
    Mae’r cwcis hyn yn gwneud pethau fel cofio eich ffafriaeth a’r dewisiadau a wnewch i bersonoli’ch profiad o ddefnyddio’r wefan.
  </p>
</article>
