<article>
  <h1>Privacy notice</h1>
  <p>
    This privacy notice tells you what we do with the information we collect
    from you when you use our service.
  </p>
  <h2>Cookies</h2>
  <p>
    Cookies are small files saved on your phone, tablet or computer when you
    visit a website. We use cookies to make the site work and understand how you
    use our service, such as the pages you visit.
  </p>
  <h3>Essential cookies</h3>
  <p>
    Essential cookies keep your information secure while you use this service.
    We do not need your permission to use them.
  </p>
  <ul class="list list-bullet">
    <li>Unique session ID</li>
  </ul>
  <h3>Analytics cookies (optional)</h3>
  <p>
    With your permission, we use Google Analytics to collect data about how you
    use the service. We use this information to help us improve the service
    based on user needs.
  </p>
  <p>Google is not allowed to use or share our analytics data with anyone.</p>
  <p>Google analytics sets cookies that store anonymised information about:</p>
  <ul class="list list-bullet">
    <li>the pages you visit</li>
    <li>how long you spend on each page</li>
    <li>how you got to the service</li>
    <li>what you click on while you're visiting the service</li>
  </ul>
  <h3>Cookies that remember your settings</h3>
  <p>
    These cookies do things like remember your preferences and the choices you
    make to personalise your experience of using the site.
  </p>
</article>
