@import "govuk-template";
@import "govuk-elements";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "qonsole_rails/application";
@import "lr_common_styles/lr-common";

:root {
  --govuk-font-size-base: 1rem;
}

.row {
  li,p,dl>dt,dl>dd {
    a {
      text-decoration: underline;
    }
  }
}
.qonsole h2,
.qonsole .query-chrome label { font-size: var(--govuk-font-size-base); }
